<div class="order-info-modal">
  <div class="order-receipt">
      <div class="header">
          <img src="..\assets\images\pizzapos\Screenshot 2024-07-18 195324.png" alt="Logo" class="logo">
          <h2>PizzaPos</h2>
          <p>CHK#: 1721231272770</p>
          <p>TOKEN # 7</p>
          
          <p>* DELIVERY & PICK UP *</p>
          <p>Server: Adam K</p>
    <p>Printed: 17-07-24 12:45:40 PM</p>
    <hr>
      </div>
      <h1>$11.22</h1>
      
      <hr>
      <div class="items">
          <p>Sausage – Lunch &nbsp;&nbsp;&nbsp; $9.00</p>
      </div>
      <hr>
      <div class="summary">
          <p>Subtotal &nbsp;&nbsp;&nbsp; $9.00</p>
          <p>Sales Tax (8.41%) &nbsp;&nbsp;&nbsp; $0.76</p>
          <p>Tip &nbsp;&nbsp;&nbsp; $1.46</p>
          <p>Delivery charge &nbsp;&nbsp;&nbsp; $2.00</p>
      </div>
      <hr>
      <div class="total">
          <p>Total &nbsp;&nbsp;&nbsp; $11.22</p>
      </div>
      <hr>
      <div class="footer">
         
     
    
   
   
   
    
      </div>
      <div class="buttons">
          <button (click)="openDialog()">Email</button>
          <button mat-button (click)="onPrintCustomerCopy()">Print (Customer Copy)</button>
  <button mat-button (click)="onPrintDriverCopy()">Print (Driver Copy)</button>
          <button>Close</button>
      </div>
  </div>
</div>