.order-info-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.order-receipt {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #333;
}

.header {
    text-align: center;
}

.logo {
    width: 50px;
    height: auto;
}

h1 {
    text-align: center;
    color: #333;
}

.details, .items, .summary, .total, .footer {
    font-size: 14px;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    background-color: #d18501;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 20px; /* Increased for rounder buttons */
    cursor: pointer;
}

button:hover {
    background-color: #8d1b06;
}
