.green-button{
  border-radius: 6px;
  border: none;
  background-color: green;
  color: white;
  margin-right: 10px;
}
.red-button{
  border-radius: 6px;
  border: none;
  background-color: red;
  color: white;
}