.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.mat-form-field {
  width: 45%;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.keypad button {
  font-size: 20px;
  height: 50px;
  width: 100%;
}

.actions-buttons {
  display: flex;
  justify-content: center;
  
}

.dialog-content {
  padding: 20px; 
}

.dialog-container {
  max-width: 100%;
  margin: 0 auto; 
}
.mat-dialog-title{
margin-left: 10px;
}
.dialog-title {
  margin-left: 16px; 
  margin-top: 5px;
  font-weight: bold;
}
.custom-button{
  margin-right: 5px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 6px;
  
}
.cancel-button{
  background-color: red;
  color: white;
  border: none;
  border-radius: 6px;
  
}