<mat-card class="trinta-card customers-list-card mb-25 bg-white border-none d-block">
  <mat-card-header>
    <mat-card-title>
      <h5 class="mt-0 mb-0">Select customer</h5>
    </mat-card-title>
    <mat-card-subtitle>
      <a (click)="openNewCustomerDialog()" class="add-new-btn" mat-button>
        <i class="ri-add-line"></i> Add New
      </a>
    </mat-card-subtitle>
  </mat-card-header>

  <form class="search-box position-relative">
    <input type="text" class="d-block w-100 border-none" placeholder="Search here.." #input (input)="onSearch(input.value)">
    <button type="button" class="p-0 bg-transparent cursor-pointer border-none">
      <i class="ri-search-line"></i>
    </button>
  </form>

  <mat-card-content>
    <div class="customers-list-table">
      <div class="table-responsive">
        <table mat-table [dataSource]="filteredDataSource">
          <!-- Customer Column -->
          <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef class="pl-0">Customer</th>
            <td mat-cell *matCellDef="let element" class="pl-0">
              <div class="customer-info d-flex align-items-center">
                <div class="image">
                  <img [src]="element.customer.img" alt="customer-image">
                </div>
                <div class="info">
                  <h6 class="mt-0">{{element.customer.name}}</h6>
                  <span class="d-block text-body">{{element.customer.number}}</span>
                </div>
              </div>
            </td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
          </ng-container>

          <!-- Wallet Balance Column -->
          <ng-container matColumnDef="walletBalance">
            <th mat-header-cell *matHeaderCellDef>Wallet Balance</th>
            <td mat-cell *matCellDef="let element" class="text-primary">{{element.walletBalance}}</td>
          </ng-container>

          <!-- Total Orders Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
          </ng-container>

          <!-- Active Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Active Status</th>
            <td mat-cell *matCellDef="let element">
              <span class="trinta-badge fw-medium d-inline-block" *ngIf="element.status.active">
                {{element.status.active}}
              </span>
              <span class="trinta-badge fw-medium deactive d-inline-block" *ngIf="element.status.deactive">
                {{element.status.deactive}}
              </span>
              <span class="trinta-badge fw-medium converted d-inline-block" *ngIf="element.status.converted">
                {{element.status.converted}}
              </span>
            </td>
          </ng-container>

          <!-- Address Column -->
          <ng-container matColumnDef="Adress">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let element">{{element.Adress}}</td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <div class="d-inline-block">
                <button type="button" mat-button class="p-0 min-w-auto lh-1 h-auto" (click)="openDialog(element)">
                  <i class="{{element.action.Details}}"></i>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>







<ng-template #dialogTemplate let-data>
  <div class="modal-container">
    <div class="avatar-wrapper">
      <img [src]="data.customer.img" alt="avatar" class="avatar">
    </div>
    <h3 class="name">{{ data.customer.name }}</h3>
    <mat-dialog-content>
      <mat-tab-group (selectedTabChange)="setActiveTab($event.tab.textLabel)">
        <mat-tab label="Details">
          <div class="details-tab">
            <p><strong>Member id:</strong> {{ data.id }}</p>
            <p><strong>Email:</strong> {{ data.email }}</p>
            <p><strong>Phone:</strong> {{ data.customer.number }}</p>
            <p><strong>Balance:</strong> {{ data.walletBalance }}</p>
            <p><strong>Loyalty point:</strong> {{ data.loyaltyPoint }}</p>
            <p><strong>Credit limit:</strong> {{ data.creditLimit }}</p>
            <p><strong>Member type:</strong> {{ data.memberType }}</p>
            <p><strong>Member since:</strong> {{ data.memberSince }}</p>
            <p><strong>Membership expiration:</strong> {{ data.membershipExpiration }}</p>
          </div>
        </mat-tab>
        <mat-tab label="History">
          <div class="history-tab">
              <table mat-table [dataSource]="historyDataSource" class="mat-elevation-z8">
                  <ng-container matColumnDef="ticketId">
                      <th mat-header-cell *matHeaderCellDef> Ticket id </th>
                      <td mat-cell *matCellDef="let element"> {{element.ticketId}} </td>
                  </ng-container>
                  <ng-container matColumnDef="server">
                      <th mat-header-cell *matHeaderCellDef> Server </th>
                      <td mat-cell *matCellDef="let element"> {{element.server}} </td>
                  </ng-container>
                  <ng-container matColumnDef="created">
                      <th mat-header-cell *matHeaderCellDef> Created </th>
                      <td mat-cell *matCellDef="let element"> {{element.created}} </td>
                  </ng-container>
                  <ng-container matColumnDef="customer">
                      <th mat-header-cell *matHeaderCellDef> Customer </th>
                      <td mat-cell *matCellDef="let element"> {{element.customer}} </td>
                  </ng-container>
                  <ng-container matColumnDef="total">
                      <th mat-header-cell *matHeaderCellDef> Total </th>
                      <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedHistoryColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedHistoryColumns;" (click)="onHistoryRowClick(row)" [ngClass]="{'selected-history-row': row === selectedHistoryRow}"></tr>
              </table>
          </div>
      </mat-tab>
      </mat-tab-group>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button *ngIf="isDetailsTabActive()" mat-button mat-dialog-close class="select-button">Select</button>
      <button *ngIf="isHistoryRowSelected" mat-button (click)="onOrderInfoClick()"  class="ok-button">Order Info</button>
    </mat-dialog-actions>
  </div>
</ng-template>


<ng-template #newCustomerDialog>
  <div class="modal-container">
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
      <mat-card class="trinta-card add-user-card mb-25 bg-white border-none d-block">
        <mat-card-header>
          <mat-card-title>
            <h5 class="mt-0 mb-0">Create customer</h5>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <!-- Form fields here -->
            <div class="col-lg-6">
              <mat-form-field>
                <i-feather name="phone"></i-feather>
                <mat-label>Enter phone number</mat-label>
                <input matInput formControlName="phone">
              </mat-form-field>
            </div>
            <div class="col-lg-6">
              <mat-form-field>
                <i-feather name="user"></i-feather>
                <mat-label>Enter name</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
            </div>
            <div class="col-lg-6">
              <mat-form-field>
                <i-feather name="mail"></i-feather>
                <mat-label>Enter personal email</mat-label>
                <input matInput formControlName="personalEmail">
              </mat-form-field>
            </div>
            <div class="col-lg-6">
              <mat-form-field>
                <i-feather name="mail"></i-feather>
                <mat-label>Enter business email</mat-label>
                <input matInput formControlName="businessEmail">
              </mat-form-field>
            </div>
            <div class="col-lg-12">
              <mat-form-field>
                <i-feather name="map-pin"></i-feather>
                <mat-label>Enter address</mat-label>
                <input matInput formControlName="address">
              </mat-form-field>
            </div>
            <div class="col-lg-12">
              <mat-form-field>
                <i-feather name="map-pin"></i-feather>
                <mat-label>Select country</mat-label>
                <mat-select formControlName="country">
                  <mat-option value="Germany">Germany</mat-option>
                  <mat-option value="United States of America">United States of America</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field>
                <i-feather name="map-pin"></i-feather>
                <mat-label>State</mat-label>
                <mat-select formControlName="state">
                  <mat-option value="Vermont">Vermont</mat-option>
                  <mat-option value="Minnesota">Minnesota</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field>
                <i-feather name="map-pin"></i-feather>
                <mat-label>City</mat-label>
                <mat-select formControlName="city">
                  <mat-option value="Tokyo">Tokyo</mat-option>
                  <mat-option value="Beijing">Beijing</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field>
                <i-feather name="code"></i-feather>
                <mat-label>Enter zip code</mat-label>
                <input matInput formControlName="zipCode">
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="actions-container">
          <button mat-button type="button" (click)="closeDialog()">Cancel</button>
          <button mat-button type="submit" [disabled]="!customerForm.valid" class="ok-button">OK</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</ng-template>
